.containerC {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.title {
  font-size: 2.2rem;
}

.right {
  margin-left: 10px;
  padding: 0 10px;
  background: #a1f045b3;
  border-radius: 10px;
}

.wrong {
  margin-left: 10px;
  padding: 0 10px;
  background: #f0576cb3;
  border-radius: 10px;
}

body .button {
  display: block;
  background-color: #e48826;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 20px;
}
