.iconButton {
  background-color: green;
  & .volumeUpRounded {
    font-size: 8rem;
  }
}

.picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.containerE {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}

.word {
  font-size: 2rem;
}
