.paginate-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.pagination {
  display: flex;
  margin-top: 20px;
}

.btn-paginate {
  margin-right: 10px;
}

.page-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--accent-p4321-1);
}

.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-weight: 600;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.page-link:hover {
  color: var(--white);
  background-color: var(--accent-dark2);
}

.active {
  background-color: var(--accent-dark1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.page-item-btn {
  box-sizing: content-box;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-right: 10px;
  color: var(--font-dark);
  background-color: transparent;
  border: 2px solid var(--accent-p4321-1);
}

.page-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-dark);
  font-weight: 600;
  font-size: 1rem;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.page-link-btn:hover {
  border-radius: 10px;
  color: var(--white);
  background-color: var(--accent-p4321-1);
}
