.word-card {
  max-width: 500px;
  min-height: 900px;
  background-color: var(--accent-p4321-2);;
  border-radius: 20px;
  padding: 20px;
}

.word-card-sound {
  display: flex;
}

.word-card-sound span {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 20px;
}

.word-card-btn {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.word-card-btn button {
  margin-right: 20px;
}

.word-card-img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.word-card-word {
  font-size: 2rem;
  font-weight: 700;
}

.word-card-wordTranslate {
  font-size: 1.6rem;
  font-weight: 700;
}

.word-card-textMeaning {
  font-size: 1rem;
  margin-top: 20px;
}

.wordcard-game-result__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 10px;
}

.wordcard-game-result {
  background-color: var(--accent-p4321-7);
  width: 180px;
  max-height: 150px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}

.wordcard-game-result span{
  display: block;
font-size: 1.2rem;
font-weight: 600;
text-align: center;
color: var(--accent-p4321-1);
}

.wordcard-game-result p{
margin-top: 10px;
font-size: 1rem;
}

#wordcard__success{
  display: inline;
  font-weight: 600;
color: var( --success);
}

#wordcard__error{
  display: inline;
  font-weight: 600;
color: var( --danger);
}