.word-card {
  max-width: 500px;
  height: 800px;
  background-color: var(--accent-p4321-2);;
  border-radius: 20px;
  padding: 20px;
}

.word-card-sound {
  display: flex;
}

.word-card-sound span {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 20px;
}