/* ====== header ====== */
.header {
  border-bottom: 2px dashed var(--accent-p4321-2);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
.logo {
  display: block;
  font-size: 36px;
}
.logo span {
  color: var(--accent-p4321-1);
  font-family: var(--font-family-accent);
}
.logo:hover   {
  color: inherit;
  /* transition: 0.8s;
  transform: rotateX(-360deg); */
}
.logo:hover span  {
  color: var(--accent-dark2);
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation li {
  margin: 0 6px;
}

