/* ====== footer ====== */
.footer {
  font-size: 18px;
  font-weight: 500;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.footer__column {
  display: flex;
  align-items: center;
}
.footer__rss-image {
  display: block;
  width: 65px;
  margin: 0 5px 0 0;
}
.footer__rss-image img {
  max-width: 100%;
}
.footer__copyright {
}
.footer__github-team .footer__github-image {
  width: 30px;
  margin: 0 15px 0 0;
}
.footer__github-image img {
  max-width: 100%;
}
.footer__rss-team {
  font-family: var(--font-family-accent);
}
.footer__github-team {
  display: flex;
  align-items: center;
}
.footer__github-team li {
  position: relative;
}
.decor-circle-dark {
  position: relative;
  padding: 0 0 0 24px;
}
.decor-circle-dark::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 9px;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  background-color: var(--font-dark);
}

.footer__github-team a:hover {
  color: var(--white);
  transition: 0.5s;
}
/* ====== /footer ====== */
/* ======= media ====== */
@media (max-width: 1060px) {
  .footer {
    font-size: 16px;
  }
  .footer__container {
    padding: 15px 20px;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 767px) {
  .footer__container {
    padding: 20px 10px;
    flex-direction: column-reverse;
  }
  .footer__rss-team {
    margin: 0 0 15px 0;
  }
}
/* ======= /media ====== */
